{% extends 'admin/change_form.html' %}
{% block after_field_sets %}
    <script>
        Alpine.data('invoiceCalculator', () => ({
            total: 0,
            items: [],

            init() {
                this.items = document.querySelectorAll('.invoice-item');
                this.calculateTotal();
                this.items.forEach(item => {
                    item.addEventListener('input', () => {
                        this.calculateTotal();
                    });
                });
            },

            calculateTotal() {
                let total = 0;
                this.items.forEach(item => {
                    const quantity = parseInt(item.querySelector('input[name$="quantity"]').value);
                    const price = parseFloat(item.querySelector('.product-price').textContent);
                    total += quantity * price;
                });
                this.total = total;
                document.getElementById('total-amount').textContent = `Total: ${this.total}`;
            }
        }));
    </script>

{% endblock %}
